build
NHConfig
output
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.TeamCity.user
*.resharper
*.suo
*.swp
*.cache
*.log
*.DS_Store
*.Report.html
*.Report.xml
~$*
obj/
Obj/
bin/
Bin/

*.idea.*	
*.orig
nhconfig.bin
rake.out
TestResult.xml
WebDeployPackage.log

log.txt*
*~
error-*.xml
package.log
timeStamp.dat
.idea/workspace.xml
.idea/tasks.xml