@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>
<form method="post" action="home/create">
    <label>Customer First Name</label>    
    <input type="text" name="FirstName" />
    <label>Customer Last Name</label>    
    <input type="text" name="LastName" />
    <input type="submit" value="Create Customer" />
</form>